<div *ngIf="therapies.length === 0">
    Nema dostupnih terapija.
  </div>
  
  <table *ngIf="therapies.length > 0" class="table">
    <thead>
      <tr>
        <th>ID Terapije</th>
        <th>Dijagnoza</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let therapy of therapies">
        <td>{{ therapy.id  }}</td>
        <td>{{ therapy.diagnosis || '' }}</td>
        <td>{{ therapy.status || '' }}</td>
        <button>Odobri</button>
      </tr>
    </tbody>
  </table>
  