<div class="my-orders-container">
  <h2>Izmena Hrane</h2>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="foodName">Novi Naziv Hrane:</label>
      <input id="foodName" type="text" formControlName="foodName" class="form-control" />
      <div *ngIf="hasError('foodName', 'maxlength')" class="text-danger">
        Maksimalno 100 karaktera za naziv hrane.
      </div>
      <div *ngIf="hasError('foodName', 'required')" class="text-danger">
        Ime je obavezno.
      </div>
    </div>

    <button type="submit" class="btn-submit">Sačuvaj</button>
  </form>
</div>
