<div>
  <nav class="navbar">
    <a class="navbar-brand" href="#">Euprava</a>
    <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
    <div class="navbar-menu" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>

        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" >University</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" >Dorms</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" *ngIf="(userType$ | async) === 'doctor'" href="/appointment-management">Healthcare</a>
          <a class="nav-link" *ngIf="(userType$ | async) === 'student'" href="/student-appointment-management">Healthcare</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" *ngIf="(userType$ | async) === 'student'" href="/student-homepage">Food</a>
          <a class="nav-link" *ngIf="(userType$ | async) === 'cook'" href="/home-radnik">Food</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <button class="nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
