<div *ngIf="foods.length === 0">
    Nema dostupnih stavki hrane.
  </div>
  
  <table *ngIf="foods.length > 0" class="table">
    <thead>
      <tr>
        <th>Naziv</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods">
        <td>{{ food.foodName }}</td> <!-- Prikazuje foodName umesto name -->
        
        <td>
          <button  (click)="orderFood(food.id!)">Order</button> <!-- Dugme za Delete -->
        </td>
        
      </tr>
    </tbody>
   
  </table>
  